<!-- Sidebar -->
		<section id="sidebar">

			<!-- Intro -->
			<!-- <section id="intro">
								<a href="#" class="logo"><img src="images/logo.jpg" alt="" /></a>
								<header>
									<h2>Future Imperfect</h2>
									<p>Another fine responsive site template by <a href="http://html5up.net">HTML5 UP</a></p>
								</header>
							</section> -->

			<!-- Mini Posts -->
			<section>

				<section>
					<div class="mini-posts" style="padding: 22px;background-color:  #fff;border: solid 1px rgba(160, 160, 160, 0.3);">
						<h2>PLAYLIST</h2>

						<iframe width="100%" height="" src="https://www.youtube.com/channel/UCaPm6OOlk03E6f7GJ_6VKLA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						<br>
						<br>
						<h2>SOCIAL</h2>

						<!-- edit the link by yourself -->
						<input class="socia" id="tab1" type="radio" name="tabs" checked>
						<label class="socia" for="tab1">Facebook</label>

						<input class="socia" id="tab2" type="radio" name="tabs">
						<label class="socia" for="tab2">Twitter</label>


						<section class="socia" id="content1">
							<div class="fb-page" data-href="https://www.facebook.com/acharya.drramkey" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/acharya.drramkey" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/acharya.drramkey">Profarmkey</a></blockquote></div>

						</section>

						<section class="socia" id="content2">
						<a class="twitter-timeline"
						href="https://twitter.com/NewsPylon"
						data-height="400">
						Tweets by @Profarmkey
						</a>


						</section>
					</div>

				</section>



			</section>

			<!-- Posts List -->

			<!-- About -->




		</section>