<%- include('layouts/header') -%>
        
        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Category</h3>
              </div>


            </div>

            <div class="clearfix"></div>

            <div class="">




              <div class="clearfix"></div>




              <div class="clearfix"></div>




            </div>
            <div class="clearfix"></div>

            <div class="">






            </div>

            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>General Options</h2>
                  
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">

                  <form method="post" class="form-horizontal form-label-left">

                    <div class="form-group">
                      <label class="control-label">Email</label>

                       <input name="category" type="text" value="" class="form-control">
                          
                    </div>
                    <div class="form-group">
                      <label class="control-label">Phone No.</label>

                       <input name="slug" type="text" value="" class="form-control">
                          
                    </div>
                    <div class="form-group">
                        <label class="control-label">Social Link 1</label>

                            <input name="priority" value="" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Social Link 2</label>

                            <input name="priority" value="" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Social Link 3</label>

                            <input name="priority" value="" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Video Live Link</label>

                            <input name="priority" value="" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Logo</label>

                            <input name="priority" value="" type="file" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Add" />
                    </div>
                      
                    
                  </form>
                </div>
              </div>
            </div>













          </div>
          <div class="clearfix"></div>
        </div>
        <!-- /page content -->
<%- include('layouts/footer') -%>