<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Password Reset Page</title>

    <!-- Bootstrap -->
    <link href="/mcp/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/mcp/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/mcp/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="/mcp/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- Dropzone css -->
    <link href="/mcp/vendors/dropzone/dist/min/dropzone.min.css" rel="stylesheet">
    <!-- bootstrap-wysiwyg -->
    <link href="/mcp/vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="/mcp/build/css/custom.min.css" rel="stylesheet">
</head>
<body>

    <div class="container">
        <div class="main_container">
            <div class="col-md-6 left_col">
                <div class="left_col scroll-view">
                    <div class="right_col" role="main">
                        <div class="">
                            <div class="page-title">
                                <div class="title_left">
                                    <h3>Password Reset Page</h3>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="x_panel">
                                        <div class="x_content">
                            <% if(typeof error!="undefined"){ %>
                                <div class="alert alert-danger alert-dismissible fade in">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    <strong>Error</strong> Password is not matching
                                </div>
                            <%} %>
                                            <form method="post" class="form-horizontal form-label-left" novalidate>
                                                <div class="item form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Email
                                                        <span class="required">*</span>
                                                    </label>
                                                    <div class="col-md-5 col-sm-5 col-xs-12">
                                                        <input type="hidden" value="<%= typeof user!='undefined' ? user[0]._id :''  %>" name="userkey">
                                                        <input id="email" disabled class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="email"
                                                            value="<%= typeof user!='undefined' ? user[0].email :''  %>" placeholder="both name(s) e.g Jon Doe" required="required"
                                                            type="text">
                                                    </div>
                                                </div>
                                                <div class="item form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="password">Password
                                                        <span class="required">*</span>
                                                    </label>
                                                    <div class="col-md-5 col-sm-5 col-xs-12">
                                                        <input id="password" class="form-control col-md-7 col-xs-12"  name="password"
                                                            placeholder="Password" required="required" minlength="8"
                                                            type="text">
                                                    </div>
                                                </div>
                                                <div class="item form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="re-password">Re-enter Password
                                                        <span class="required">*</span>
                                                    </label>
                                                    <div class="col-md-5 col-sm-5 col-xs-12">
                                                        <input id="re-password" class="form-control col-md-7 col-xs-12"  name="repassword"
                                                            placeholder="Re-enter Password" required="required" minlength="8"
                                                            type="text">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-6 col-md-offset-3">
                                                        <button id="send" type="submit" class="btn btn-success">Save</button>
                                                    </div>
                                                </div>
                                                <div class="item form-group">
                                                    <div id="message">
                                                        <h3>Password must contain the following:</h3>
                                                        <p id="letter" class="invalid">A
                                                            <b>lowercase</b> letter</p>
                                                        <p id="capital" class="invalid">A
                                                            <b>capital (uppercase)</b> letter</p>
                                                        <p id="number" class="invalid">A
                                                            <b>number</b>
                                                        </p>
                                                        <p id="length" class="invalid">Minimum
                                                            <b>8 characters</b>
                                                        </p>
                                                    </div>
                                                </div>

                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        /* Style all input fields */
    
        input {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
        }
    
        /* Style the submit button */
    
        input[type=submit] {
            background-color: #4CAF50;
            color: white;
        }
    
        /* Style the container for inputs */
    
        .container {
            background-color: #f1f1f1;
            padding: 20px;
        }
    
        /* The message box is shown when the user clicks on the password field */
    
        #message {
            display: none;
            background: #f1f1f1;
            color: #000;
            position: relative;
            padding: 20px;
            margin-top: 10px;
        }
    
        #message p {
            padding: 10px 35px;
            font-size: 18px;
        }
    
        /* Add a green text color and a checkmark when the requirements are right */
    
        .valid {
            color: green;
        }
    
        .valid:before {
            position: relative;
            left: -35px;
            content: "✔";
        }
    
        /* Add a red text color and an "x" when the requirements are wrong */
    
        .invalid {
            color: red;
        }
    
        .invalid:before {
            position: relative;
            left: -35px;
            content: "✖";
        }
    </style>
<script>
    var myInput = document.getElementById("password");
    var letter = document.getElementById("letter");
    var capital = document.getElementById("capital");
    var number = document.getElementById("number");
    var length = document.getElementById("length");

    // When the user clicks on the password field, show the message box
    myInput.onfocus = function () {
        document.getElementById("message").style.display = "block";
    }

    // When the user clicks outside of the password field, hide the message box
    myInput.onblur = function () {
        document.getElementById("message").style.display = "none";
    }

    // When the user starts to type something inside the password field
    myInput.onkeyup = function () {
        // Validate lowercase letters
        var lowerCaseLetters = /[a-z]/g;
        if (myInput.value.match(lowerCaseLetters)) {
            letter.classList.remove("invalid");
            letter.classList.add("valid");
        } else {
            letter.classList.remove("valid");
            letter.classList.add("invalid");
        }

        // Validate capital letters
        var upperCaseLetters = /[A-Z]/g;
        if (myInput.value.match(upperCaseLetters)) {
            capital.classList.remove("invalid");
            capital.classList.add("valid");
        } else {
            capital.classList.remove("valid");
            capital.classList.add("invalid");
        }

        // Validate numbers
        var numbers = /[0-9]/g;
        if (myInput.value.match(numbers)) {
            number.classList.remove("invalid");
            number.classList.add("valid");
        } else {
            number.classList.remove("valid");
            number.classList.add("invalid");
        }

        // Validate length
        if (myInput.value.length >= 8) {
            length.classList.remove("invalid");
            length.classList.add("valid");
        } else {
            length.classList.remove("valid");
            length.classList.add("invalid");
        }
    }
</script>
<!-- jQuery -->
<script src="/mcp/vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/mcp/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="/mcp/vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="/mcp/vendors/nprogress/nprogress.js"></script>
<!-- iCheck -->
<script src="/mcp/vendors/iCheck/icheck.min.js"></script>
<!-- Dropzone.js -->
<script src="/mcp/vendors/dropzone/dist/min/dropzone.min.js"></script>
<!-- CKeditor -->
<script src="https://cdn.ckeditor.com/4.8.0/standard/ckeditor.js"></script>
<!-- validator -->
<script src="/mcp/vendors/validator/validator.js"></script>
<!-- bootstrap-progressbar -->
<script src="/mcp/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- bootstrap-wysiwyg -->
<script src="../vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
<script src="../vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
<script src="../vendors/google-code-prettify/src/prettify.js"></script>
<script>
    // Replace the <textarea id="editor1"> with a CKEditor
    // instance, using default configuration.
   // CKEDITOR.replace('editor1');
</script>
<!-- Custom Theme Scripts -->
<script src="/mcp/build/js/custom.min.js"></script>
</body>

</html>